.bankOneCart {
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.imgDiv {
  width: 100%;
  height: 70%;
  position: relative;
}
.imgDiv > img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}
/* On hover change text on image */
.onImageTextDiv {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  font-family: sans-serif;
  border-radius: 5px 5px 0 0;
  transition: all 0.5s ease 0s;
  background: rgba(0, 0, 0, 0.39);
}
.onImageTextDiv > h3 {
  text-align: center;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}
.hrDiv {
  width: 100%;
  height: 0.1px;
  background-color: #a7a7a7;
}
.onImageTextDiv > p {
  margin: 30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.bankLogo {
  width: 25%;
  height: 20%;
  margin-left: 10px;
  margin-top: -14%;
}
.bankLogo > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.textDiv {
  margin-top: 40px;
  text-align: center;
}
.textDiv > h5 {
  color: #333;
  font-size: 12px;
  font-weight: 500;
}
.textDiv > h6 {
  color: #555;
  font-size: 11px;
  font-weight: 500;
  line-height: 0px;
}
