.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  width: 100%;
}
.navfirst{
  width: 100%;
  height: 64px;
  background-color: #333545;
  display: flex;
  align-items: center;
}
.navinside{
  margin: 0;
  width: 60%;
  display: flex;
  height: 40px;
  margin-left: 8%;
  align-items: center;
}

.navinside>svg{
 margin-left: 15px;
}
.navinside>span{
  width: 58%;
  height: 35px;
  border-radius: 5px;
  background-color: white;
  margin-left: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

 }
 .navinside>span>img{
  width: 16px;
  margin-right: 5px;
  margin-left: 2px;
  margin-left: 3%;
 }
 .navinside>span>input{
  border: none;
  border-color: transparent;
  height: 80%;
  width:95% ;
  border-radius: 5px;
 }
 .navinside>span>input:focus{
  outline: none !important;
  border-color: white;
 }
 .fIvCmI {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  height: 100%;
}
.jlISnX::after {
  display: block;
  content: "";
  position: absolute;
  inset: -2px 0px 0px;
  margin: auto 0px auto auto;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid rgb(255, 255, 255);
}
.bQENkS {
  color: rgb(255, 255, 255);
  background-color: rgb(248, 68, 100);
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  width: 67px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgb(248, 68, 100);
  display: block;
}
.hmbjRr:last-child {
  margin-right: 0px;
}
svg:not(:root) {
  overflow: hidden;
}
.hmbjRr {
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
 .navsecond{
  width: 100%;
  height: 40px;
  background-color: #222539;
  display: flex;
  align-items: center;
 }
 .span1{
  width: 60%;
 margin-left: 8%;
 display: flex;
 align-items: center;
 }

 .span1>:link>p{
font-size: 10px;
position: absolute;
margin: 0;
margin-left: 28px;
margin-top: -8px;
 }
 .span2{
  width: 40%;
  margin-right: 7%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
 }
 .span2>:link>p{
  font-size: 10px;
  position: absolute;
  margin: 0;
  margin-left: 66px;
  margin-top: -8px;
   }
.footer{
  width: 100%;
  height: auto;
  background-color: #313035;
}
   .footercontactcontainer{
width: 100%;
height: 85px;
background-color: #313035;
margin-top: 0px;
display: flex;
justify-content: space-around;
align-items: center;
   }
   .footercontact{
width: 60%;
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;

   }
   .footercontactins{
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     color: white;
   }
   .contacttoday{
     width: 12%;
     background-color:#ec5e71 ;
     height: 50%;
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     
   }
   .customcare{
     width: 100%;
     height: 118px;
    
     background-color: #404043;
     display: flex;
     justify-content: space-around;
     align-items: center;
   }
   .customcare>span>svg{
   fill: #8a8a8c;
   width: 65px;
  }
  .customcare>span>svg:hover{
    fill: white;
    width: 80px;
   }
   .customcare>span>p{
    color: #8a8a8c;
    font-size: 11px;
    
   }
   .customcare>span>p:hover{
    color: white;
    font-size: 11px;
   }
 .maincities{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
 }
 .maincitiesinside{
  width: 84%;

  text-align: left;
   }
   .maincitiesinside>div{
    width: 100%;
    padding-top: 25px;
      }
   .maincitiesinside>div>div>p{
    font-size: 11px;
    color: rgb(127, 127, 127);
    letter-spacing: 0.1px;
    text-decoration: none;
    transition: color 0.25s ease-in-out 0s;
    margin: 0px 5px 5px 0px;
    padding-right: 5px;
    border-right: 1px solid rgb(127, 127, 127);
     }
     .maincitiesinside>div>div>p:hover{
      color: white;
       }
     .maincitiesinside>div>div>p:nth-last-child(1){
      font-size: 11px;
      color: rgb(127, 127, 127);
      letter-spacing: 0.1px;
      text-decoration: none;
      transition: color 0.25s ease-in-out 0s;
      margin: 0px 5px 5px 0px;
      padding-right: 5px;
      border-right: 0px solid rgb(127, 127, 127);
       }
     .maincitiesinside>div>div{
      display: flex;
      flex-wrap: wrap;
       }
       .maincitiesinside>div>h2{
    font-size: 12px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    margin: 0px 0px 20px;
    color: rgb(165, 165, 165);
         }

         .mqFuI {
          display: flex;
          width: 100%;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          height: 125px;
      }

      .izRfKO {
        flex: 1 1 0%;
        height: 1px;
        background: rgb(93, 93, 95);
    }
    .KwZdx {
      padding: 0px 20px;
  }
  .izRfKO {
    flex: 1 1 0%;
    height: 1px;
    background: rgb(93, 93, 95);
}
.fjqhyD {
  text-align: center;
}
.hflvIy {
  display: inline-block;
  margin-right: 10px;
  width: 37px;
  height: 37px;
}

.bXJjbc {
    padding: 30px;
    font-size: 11px;
    color: rgb(102, 102, 102);
    text-align: center;
}
.hflvIy svg {
  fill: rgb(93, 93, 95);
}
.hflvIy svg:hover {
  fill: white;
}
svg:not(:root) {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}