.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  width: 100%;
}
.navfirst{
  width: 100%;
  height: 64px;
  background-color: #333545;
  display: flex;
  align-items: center;
}
.navinside{
  margin: 0;
  width: 60%;
  display: flex;
  height: 40px;
  margin-left: 8%;
  align-items: center;
}

.navinside>svg{
 margin-left: 15px;
}
.navinside>span{
  width: 58%;
  height: 35px;
  border-radius: 5px;
  background-color: white;
  margin-left: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

 }
 .navinside>span>img{
  width: 16px;
  margin-right: 5px;
  margin-left: 2px;
  margin-left: 3%;
 }
 .navinside>span>input{
  border: none;
  border-color: transparent;
  height: 80%;
  width:95% ;
  border-radius: 5px;
 }
 .navinside>span>input:focus{
  outline: none !important;
  border-color: white;
 }
 .navsecond{
  width: 100%;
  height: 40px;
  background-color: #222539;
  display: flex;
  align-items: center;
 }
 .span1{
  width: 60%;
 margin-left: 8%;
 display: flex;
 align-items: center;
 }

 .span1>:link>p{
font-size: 10px;
position: absolute;
margin: 0;
margin-left: 28px;
margin-top: -8px;
 }
 .span2{
  width: 40%;
  margin-right: 7%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
 }
 .span2>:link>p{
  font-size: 10px;
  position: absolute;
  margin: 0;
  margin-left: 66px;
  margin-top: -8px;
   }
.footer{
  width: 100%;
  height: 800px;
  background-color: #313035;
}
   .footercontactcontainer{
width: 100%;
height: 85px;
background-color: #313035;
border: white solid 1px;
margin-top: 0px;
display: flex;
justify-content: space-around;
align-items: center;
   }
   .footercontact{
width: 60%;
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;

   }
   .footercontactins{
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     color: white;
   }
   .contacttoday{
     width: 12%;
     background-color:#ec5e71 ;
     height: 50%;
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     
   }
   .customcare{
     width: 100%;
     height: 118px;
     border: white solid 1px;
     background-color: #404043;
     display: flex;
     justify-content: space-around;
     align-items: center;
   }
   .customcare>span>svg{
   fill: #8a8a8c;
   width: 65px;
  }
  .customcare>span>svg:hover{
    fill: white;
    width: 80px;
   }
   .customcare>span>p{
    color: #8a8a8c;
    font-size: 11px;
    
   }
   .customcare>span>p:hover{
    color: white;
    font-size: 11px;
   }
 .maincities{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
 }
 .maincitiesinside{
  width: 95%;
  border: white solid 1px;
   }
   .maincitiesinside>div{
    margin-left: 0px;
      }
   .maincitiesinside>div>div{
   display: flex;
     }