.inputBox{
    padding: 7px 20px;
    margin-left: 10%;
    margin-top: 10px;
}
.Offer_containter{
    width: 100%;
    margin: auto;
    height: auto;
    margin-bottom: 20%;
    /* border: 2px solid blue; */
}
.CartMainDiv{
    width: 90%;
    height: 120px;
    margin:30px auto;
    text-align: center;
    font-family: sans-serif;
    /* border: 1px solid black; */
    
}
.CartMainDiv>h4{
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 18px;
    color: #666;
    line-height: 28px
    
}
.BankCartMainDiv{
    width: 100%;
 
    padding-top: 20px;    
    background-color: #f2f2f2;
}
.BanksCart{
    gap: 2%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}